#body {
    background-color:#353535;
}
.header {
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 60vw;
    display: grid;
    align-items: center;
    -ms-flex-align: center;
    z-index: 1000;
}
header svg {
    width: 100vw;
    position: absolute;
    top: -10%;
}
.divText {
    font-family: bebas neue;
    align-items: center;
    display: grid;
    text-align: center;
    color: #353535;
    z-index: 1000;
}
.headerH1 {
    font-size: 10vw;
    text-shadow: 0px -6px rgba(0, 0, 0, 0.308);
    color: #353535;
    margin-top: -25%;
}
.headerH2 {
    font-size: 4vw;
    text-shadow: 0px -6px rgba(0, 0, 0, 0.308);
    color: #353535;
    margin-top: -12%;
}
@media (max-width: 735px){
    header svg {
        top: -5%;
    }
    .header .divText .headerH1 {
        font-size: 50px;
        text-shadow: 0px -4px rgba(0, 0, 0, 0.308);
    }
    .header .divText .headerH2 {
        font-size: 30px;
        text-shadow: 0px -2px rgba(0, 0, 0, 0.308);
    }
}
#main {
    width: 100vw;
    height: auto;
}
.img1 {
    position: relative;
}
#main .imgFondo {
    width: 100vw;
    top: 30%;
    position: absolute;
}
.carrusel {
    height: 100vh;
    display: flex;
    align-items: center;
}

.carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 8px 0px;
    border: 10px solid #72c000;
}

.carrusel-item {
    min-width: 500px;
    max-width: 500px;
    height: 500px;
    outline: 8px solid #353535;
    cursor: pointer;
}

.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
footer {
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    
    display: grid;
    align-items: center;
    -ms-flex-align: center;
}

.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
    0%{
        d: path("M 0,700 C 0,700 0,175 0,175 C 22.13165456646977,148.1591938803135 44.26330913293954,121.31838776062698 68,120 C 91.73669086706046,118.68161223937302 117.07841803471163,142.88564283780556 148,152 C 178.92158196528837,161.11435716219444 215.4230187282139,155.1390408881507 243,143 C 270.5769812717861,130.8609591118493 289.2295070524329,112.55819360959163 319,124 C 348.7704929475671,135.44180639040837 389.65895306205465,176.6281846734829 413,180 C 436.34104693794535,183.3718153265171 442.1346806993486,148.9290676964768 468,139 C 493.8653193006514,129.0709323035232 539.802324140551,143.65554454060987 567,148 C 594.197675859449,152.34445545939013 602.6560227384471,146.4487541410838 625,151 C 647.3439772615529,155.5512458589162 683.5735849056604,170.54943889505486 712,182 C 740.4264150943396,193.45056110494514 761.0496376389113,201.35349027869668 787,197 C 812.9503623610887,192.64650972130332 844.2278645386942,176.03659999015844 873,163 C 901.7721354613058,149.96340000984156 928.0389042063118,140.50010976066955 960,154 C 991.9610957936882,167.49989023933045 1029.6165186360586,203.9629609671633 1051,207 C 1072.3834813639414,210.0370390328367 1077.4950212494539,179.64804637067724 1105,164 C 1132.5049787505461,148.35195362932276 1182.4033963661257,147.44485355012773 1213,167 C 1243.5966036338743,186.55514644987227 1254.891393286043,226.57253942881175 1275,217 C 1295.108606713957,207.42746057118825 1324.0310304897018,148.2649887346252 1353,133 C 1381.9689695102982,117.7350112653748 1410.984484755149,146.3675056326874 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
    25%{
        d: path("M 0,700 C 0,700 0,175 0,175 C 20.005476009159892,163.37441914828077 40.010952018319784,151.74883829656153 70,139 C 99.98904798168022,126.25116170343847 139.96166793588074,112.37906596203464 169,127 C 198.03833206411926,141.62093403796536 216.14237623815723,184.73489785529983 237,195 C 257.8576237618428,205.26510214470017 281.46882711149055,182.681342616766 311,165 C 340.53117288850945,147.318657383234 375.9823153158807,134.5397316776363 401,145 C 426.0176846841193,155.4602683223637 440.6019116249864,189.15973067268885 465,212 C 489.3980883750136,234.84026932731115 523.6100381841735,246.82134563160824 551,223 C 578.3899618158265,199.17865436839176 598.9579356383197,139.5548868008783 629,146 C 659.0420643616803,152.4451131991217 698.5582192625478,224.95910716487856 728,235 C 757.4417807374522,245.04089283512144 776.8091873114893,192.60868453960754 801,180 C 825.1908126885107,167.39131546039246 854.2050314914954,194.60615467669126 883,202 C 911.7949685085046,209.39384532330874 940.3706867225286,196.96669675362756 963,197 C 985.6293132774714,197.03330324637244 1002.3122216183899,209.52705830879856 1028,204 C 1053.68777838161,198.47294169120144 1088.380426803912,174.9250700111783 1116,154 C 1143.619573196088,133.0749299888217 1164.166071165962,114.77266164648829 1189,117 C 1213.833928834038,119.22733835351171 1242.955288532241,141.98428340286856 1273,163 C 1303.044711467759,184.01571659713144 1334.012774705074,203.29020474203753 1362,205 C 1389.987225294926,206.70979525796247 1414.9936126474631,190.85489762898123 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
    50%{
        d: path("M 0,700 C 0,700 0,175 0,175 C 20.841249678552224,181.34290105854427 41.68249935710445,187.6858021170885 65,182 C 88.31750064289555,176.3141978829115 114.11125225013444,158.59969259019022 146,145 C 177.88874774986556,131.40030740980978 215.87249164235772,121.91542752215065 249,141 C 282.1275083576423,160.08457247784935 310.39878118043475,207.73859732120718 331,206 C 351.60121881956525,204.26140267879282 364.53238363590333,153.13018319302054 386,150 C 407.46761636409667,146.86981680697946 437.47168427595193,191.74066990671068 467,192 C 496.52831572404807,192.25933009328932 525.5808792602888,147.90713718013674 554,137 C 582.4191207397112,126.09286281986326 610.204798682893,148.63078137274235 636,152 C 661.795201317107,155.36921862725765 685.599926008139,139.56973732889384 712,127 C 738.400073991861,114.43026267110616 767.3954972845506,105.09026931168233 796,126 C 824.6045027154494,146.90973068831767 852.8180848536587,198.06918542437677 882,203 C 911.1819151463413,207.93081457562323 941.3321633008146,166.63298899081062 967,160 C 992.6678366991854,153.36701100918938 1013.853261943083,181.39885861238088 1035,201 C 1056.146738056917,220.60114138761912 1077.2547889268533,231.7715765596659 1108,226 C 1138.7452110731467,220.2284234403341 1179.1275823495034,197.5148351489555 1210,186 C 1240.8724176504966,174.4851648510445 1262.2348816751337,174.16908284451196 1288,181 C 1313.7651183248663,187.83091715548804 1343.9328909499616,201.80883347299655 1370,202 C 1396.0671090500384,202.19116652700345 1418.033554525019,188.59558326350174 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
    75%{
        d: path("M 0,700 C 0,700 0,175 0,175 C 21.345724020234847,150.6766440570357 42.691448040469695,126.3532881140714 70,139 C 97.3085519595303,151.6467118859286 130.5799318583561,201.26349160075003 157,217 C 183.4200681416439,232.73650839924997 202.98882452610584,214.59274548292836 226,205 C 249.01117547389416,195.40725451707164 275.4647700372207,194.36552646753643 306,191 C 336.5352299627793,187.63447353246357 371.1520953250113,181.94514864692596 399,193 C 426.8479046749887,204.05485135307404 447.92684866273413,231.8538789447597 474,219 C 500.07315133726587,206.1461210552403 531.140510024052,152.63933557403521 558,130 C 584.859489975948,107.3606644259648 607.5111112410581,115.58877875909943 634,140 C 660.4888887589419,164.41122124090057 690.8150450117155,205.00554938956716 720,222 C 749.1849549882845,238.99445061043284 777.2287087120803,232.389023682632 807,234 C 836.7712912879197,235.610976317368 868.2701201399633,245.43835587990483 891,220 C 913.7298798600367,194.56164412009517 927.6908107280664,133.8575527977486 955,114 C 982.3091892719336,94.14244720225138 1022.966636947772,115.1314329291007 1048,148 C 1073.033363052228,180.8685670708993 1082.4426414808456,225.61671548584866 1106,237 C 1129.5573585191544,248.38328451415134 1167.2627971288455,226.4017051275045 1203,210 C 1238.7372028711545,193.5982948724955 1272.5061700037722,182.7764640041334 1294,187 C 1315.4938299962278,191.2235359958666 1324.712522856065,210.49243885596186 1347,211 C 1369.287477143935,211.50756114403814 1404.6437385719673,193.25378057201908 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
    100%{
        d: path("M 0,700 C 0,700 0,175 0,175 C 22.13165456646977,148.1591938803135 44.26330913293954,121.31838776062698 68,120 C 91.73669086706046,118.68161223937302 117.07841803471163,142.88564283780556 148,152 C 178.92158196528837,161.11435716219444 215.4230187282139,155.1390408881507 243,143 C 270.5769812717861,130.8609591118493 289.2295070524329,112.55819360959163 319,124 C 348.7704929475671,135.44180639040837 389.65895306205465,176.6281846734829 413,180 C 436.34104693794535,183.3718153265171 442.1346806993486,148.9290676964768 468,139 C 493.8653193006514,129.0709323035232 539.802324140551,143.65554454060987 567,148 C 594.197675859449,152.34445545939013 602.6560227384471,146.4487541410838 625,151 C 647.3439772615529,155.5512458589162 683.5735849056604,170.54943889505486 712,182 C 740.4264150943396,193.45056110494514 761.0496376389113,201.35349027869668 787,197 C 812.9503623610887,192.64650972130332 844.2278645386942,176.03659999015844 873,163 C 901.7721354613058,149.96340000984156 928.0389042063118,140.50010976066955 960,154 C 991.9610957936882,167.49989023933045 1029.6165186360586,203.9629609671633 1051,207 C 1072.3834813639414,210.0370390328367 1077.4950212494539,179.64804637067724 1105,164 C 1132.5049787505461,148.35195362932276 1182.4033963661257,147.44485355012773 1213,167 C 1243.5966036338743,186.55514644987227 1254.891393286043,226.57253942881175 1275,217 C 1295.108606713957,207.42746057118825 1324.0310304897018,148.2649887346252 1353,133 C 1381.9689695102982,117.7350112653748 1410.984484755149,146.3675056326874 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
}
.path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
    0%{
        d: path("M 0,700 C 0,700 0,350 0,350 C 24.344563018334938,382.03820770828656 48.689126036669876,414.0764154165732 79,396 C 109.31087396333012,377.9235845834268 145.58805887165548,309.7325460419937 173,314 C 200.41194112834452,318.2674539580063 218.9586384767082,394.99340041545196 240,399 C 261.0413615232918,403.00659958454804 284.5773872215117,334.2938522961982 313,322 C 341.4226127784883,309.7061477038018 374.73181263724496,353.83119039975503 400,379 C 425.26818736275504,404.16880960024497 442.4953622295085,410.3813861047817 467,402 C 491.5046377704915,393.6186138952183 523.2867384447212,370.64326518111807 555,373 C 586.7132615552788,375.35673481888193 618.3576839916067,403.0455531707459 647,386 C 675.6423160083933,368.9544468292541 701.282525588852,307.17452213589837 722,293 C 742.717474411148,278.82547786410163 758.5122136529855,312.2563582856606 787,333 C 815.4877863470145,353.7436417143394 856.6686197992055,361.8000447214593 884,373 C 911.3313802007945,384.1999552785407 924.8133071501929,398.5434628285023 948,410 C 971.1866928498071,421.4565371714977 1004.0781516000225,430.0261039645316 1039,397 C 1073.9218483999775,363.9738960354684 1110.8740864497177,289.35212131337136 1132,290 C 1153.1259135502823,290.64787868662864 1158.4255026011065,366.56541078198296 1186,387 C 1213.5744973988935,407.43458921801704 1263.423903145856,372.3862355586969 1294,360 C 1324.576096854144,347.6137644413031 1335.8788848154695,357.8896469832294 1357,360 C 1378.1211151845305,362.1103530167706 1409.0605575922652,356.05517650838533 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    25%{
        d: path("M 0,700 C 0,700 0,350 0,350 C 26.032052681089517,343.3496851486133 52.064105362179035,336.6993702972266 76,334 C 99.93589463782097,331.3006297027734 121.77563123237337,332.552203959707 147,350 C 172.22436876762663,367.447796040293 200.8333697083275,401.09181386394533 233,395 C 265.1666302916725,388.90818613605467 300.89088993431653,343.0805405845118 331,331 C 361.10911006568347,318.9194594154882 385.6030705544062,340.5860237980074 407,332 C 428.3969294455938,323.4139762019926 446.69682784805855,284.57536422345845 471,290 C 495.30317215194145,295.42463577654155 525.6096180533594,345.1125193081589 553,363 C 580.3903819466406,380.8874806918411 604.8646999385037,366.97455854390614 633,375 C 661.1353000614963,383.02544145609386 692.9315821926256,412.98924651621655 720,415 C 747.0684178073744,417.01075348378345 769.4089712909941,391.0684553912276 797,377 C 824.5910287090059,362.9315446087724 857.4325326433975,360.73693191887287 886,350 C 914.5674673566025,339.26306808112713 938.8608981354166,319.983816933281 968,327 C 997.1391018645834,334.016183066719 1031.1238748149365,367.3278003480032 1052,376 C 1072.8761251850635,384.6721996519968 1080.6436026048373,368.7049816747063 1107,372 C 1133.3563973951627,375.2950183252937 1178.3017147657135,397.8522729531715 1209,396 C 1239.6982852342865,394.1477270468285 1256.1495383323079,367.8859265126076 1278,372 C 1299.8504616676921,376.1140734873924 1327.100131905055,410.6040209963978 1355,412 C 1382.899868094945,413.3959790036022 1411.4499340474727,381.6979895018011 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    50%{
        d: path("M 0,700 C 0,700 0,350 0,350 C 21.93006771924565,367.9107442420884 43.8601354384913,385.8214884841768 73,386 C 102.1398645615087,386.1785115158232 138.48952596528048,368.6247903053811 167,356 C 195.51047403471952,343.3752096946189 216.18176070038686,335.6793502942987 240,336 C 263.81823929961314,336.3206497057013 290.783431233172,344.6578085174242 321,356 C 351.216568766828,367.3421914825758 384.6845143669251,381.68941563600464 407,375 C 429.3154856330749,368.31058436399536 440.4785112991276,340.5845289385572 468,337 C 495.5214887008724,333.4154710614428 539.4014404365643,353.9724686097666 569,378 C 598.5985595634357,402.0275313902334 613.9157269546153,429.52559662237644 638,411 C 662.0842730453847,392.47440337762356 694.9356517449748,327.92514490072756 724,330 C 753.0643482550252,332.07485509927244 778.3416660654857,400.77382377471326 800,396 C 821.6583339345143,391.22617622528674 839.6976839930819,312.9795600004196 869,302 C 898.3023160069181,291.0204399995804 938.8675979621869,347.30793622360835 969,372 C 999.1324020378131,396.69206377639165 1018.8319241581705,389.78869510514716 1042,382 C 1065.1680758418295,374.21130489485284 1091.8047054051308,365.5372833558031 1122,363 C 1152.1952945948692,360.4627166441969 1185.9492542213054,364.0621714716404 1211,369 C 1236.0507457786946,373.9378285283596 1252.3982777096485,380.21403075763527 1277,369 C 1301.6017222903515,357.78596924236473 1334.4576349401004,329.08170549781846 1363,323 C 1391.5423650598996,316.91829450218154 1415.7711825299498,333.45914725109077 1440,350 C 1440,350 1440,700 1440,700 Z");
    }   
    75%{
        d: path("M 0,700 C 0,700 0,350 0,350 C 24.182165916438336,358.78017030525655 48.36433183287667,367.56034061051315 74,363 C 99.63566816712333,358.43965938948685 126.72483858493166,340.53880786320394 154,320 C 181.27516141506834,299.46119213679606 208.73631382739677,276.2844279366712 235,298 C 261.26368617260323,319.7155720633288 286.3299061054812,386.3234803901111 314,414 C 341.6700938945188,441.6765196098889 371.9440617506785,430.4216505028844 400,403 C 428.0559382493215,375.5783494971156 453.8938468918051,331.98991759835116 482,336 C 510.1061531081949,340.01008240164884 540.4805506821014,391.618679103711 568,395 C 595.5194493178986,398.381320896289 620.1839503797892,353.535365986805 644,330 C 667.8160496202108,306.464634013195 690.7836477987421,304.2398569490689 716,329 C 741.2163522012579,353.7601430509311 768.6814584252425,405.5052062169192 794,404 C 819.3185415747575,402.4947937830808 842.4905185002883,347.73931818325417 872,328 C 901.5094814997117,308.26068181674583 937.3564675736037,323.53752105006424 967,333 C 996.6435324263963,342.46247894993576 1020.0836112052964,346.1105976164891 1041,346 C 1061.9163887947036,345.8894023835109 1080.3090876052106,342.02008848397946 1109,336 C 1137.6909123947894,329.97991151602054 1176.6800383738612,321.80904844759317 1203,329 C 1229.3199616261388,336.19095155240683 1242.970758899345,358.743717725648 1270,357 C 1297.029241100655,355.256282274352 1337.4369260287585,329.2160806498148 1368,324 C 1398.5630739712415,318.7839193501852 1419.2815369856207,334.3919596750926 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    100%{
        d: path("M 0,700 C 0,700 0,350 0,350 C 24.344563018334938,382.03820770828656 48.689126036669876,414.0764154165732 79,396 C 109.31087396333012,377.9235845834268 145.58805887165548,309.7325460419937 173,314 C 200.41194112834452,318.2674539580063 218.9586384767082,394.99340041545196 240,399 C 261.0413615232918,403.00659958454804 284.5773872215117,334.2938522961982 313,322 C 341.4226127784883,309.7061477038018 374.73181263724496,353.83119039975503 400,379 C 425.26818736275504,404.16880960024497 442.4953622295085,410.3813861047817 467,402 C 491.5046377704915,393.6186138952183 523.2867384447212,370.64326518111807 555,373 C 586.7132615552788,375.35673481888193 618.3576839916067,403.0455531707459 647,386 C 675.6423160083933,368.9544468292541 701.282525588852,307.17452213589837 722,293 C 742.717474411148,278.82547786410163 758.5122136529855,312.2563582856606 787,333 C 815.4877863470145,353.7436417143394 856.6686197992055,361.8000447214593 884,373 C 911.3313802007945,384.1999552785407 924.8133071501929,398.5434628285023 948,410 C 971.1866928498071,421.4565371714977 1004.0781516000225,430.0261039645316 1039,397 C 1073.9218483999775,363.9738960354684 1110.8740864497177,289.35212131337136 1132,290 C 1153.1259135502823,290.64787868662864 1158.4255026011065,366.56541078198296 1186,387 C 1213.5744973988935,407.43458921801704 1263.423903145856,372.3862355586969 1294,360 C 1324.576096854144,347.6137644413031 1335.8788848154695,357.8896469832294 1357,360 C 1378.1211151845305,362.1103530167706 1409.0605575922652,356.05517650838533 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
}
.path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
    0%{
        d: path("M 0,700 C 0,700 0,525 0,525 C 26.038142320677707,537.3956350874464 52.076284641355414,549.7912701748927 80,560 C 107.92371535864459,570.2087298251073 137.73300375525605,578.2305543878757 162,569 C 186.26699624474395,559.7694456121243 204.9917003376204,533.2865122736042 230,516 C 255.0082996623796,498.7134877263958 286.30019489426235,490.6233965177073 319,480 C 351.69980510573765,469.3766034822927 385.80752008533017,456.2199016555667 413,461 C 440.19247991466983,465.7800983444333 460.46972476441715,488.4969968600258 486,516 C 511.53027523558285,543.5030031399742 542.3135808570014,575.7921109043302 569,585 C 595.6864191429986,594.2078890956698 618.2759518075773,580.3345595226533 642,579 C 665.7240481924227,577.6654404773467 690.5826119126896,588.8696510050561 719,590 C 747.4173880873104,591.1303489949439 779.3936005416643,582.1868364571222 805,579 C 830.6063994583357,575.8131635428778 849.842985920653,578.3830031664553 872,575 C 894.157014079347,571.6169968335447 919.2344557757236,562.2811508770566 950,564 C 980.7655442242764,565.7188491229434 1017.2191909764529,578.4923933253187 1045,554 C 1072.7808090235471,529.5076066746813 1091.8887803184641,467.7492758216686 1115,476 C 1138.1112196815359,484.2507241783314 1165.2256877496902,562.5105033880062 1197,575 C 1228.7743122503098,587.4894966119938 1265.2084686827757,534.2087106263059 1291,517 C 1316.7915313172243,499.79128937369404 1331.9404375192069,518.6546541067696 1355,526 C 1378.0595624807931,533.3453458932304 1409.0297812403965,529.1726729466152 1440,525 C 1440,525 1440,700 1440,700 Z");
    }
    25%{
        d: path("M 0,700 C 0,700 0,525 0,525 C 22.81595032695332,542.2328841438963 45.63190065390664,559.4657682877926 74,545 C 102.36809934609336,530.5342317122074 136.28834771132674,484.3698109927262 163,471 C 189.71165228867326,457.6301890072738 209.2147085007864,477.05498774130274 237,483 C 264.7852914992136,488.94501225869726 300.85281828552775,481.41023804206276 326,492 C 351.14718171447225,502.58976195793724 365.37401835710267,531.3040600904466 393,548 C 420.62598164289733,564.6959399095534 461.6511082860618,569.3735215961509 486,569 C 510.3488917139382,568.6264784038491 518.0215484986502,563.2018535249497 546,563 C 573.9784515013498,562.7981464750503 622.2626977193379,567.8190643040505 650,550 C 677.7373022806621,532.1809356959495 684.927660623998,491.52188925884826 708,494 C 731.072339376002,496.47811074115174 770.02665978467,542.0933786605566 804,555 C 837.97334021533,567.9066213394434 866.9657002373224,548.1045960989252 891,550 C 915.0342997626776,551.8954039010748 934.1105392660405,575.488236943743 955,573 C 975.8894607339595,570.511763056257 998.5921426985149,541.942456126103 1028,539 C 1057.4078573014851,536.057543873897 1093.5208899399006,558.7419385518454 1125,554 C 1156.4791100600994,549.2580614481546 1183.3242975418823,517.0897896665157 1203,507 C 1222.6757024581177,496.9102103334843 1235.1819198925705,508.8989027820919 1265,506 C 1294.8180801074295,503.1010972179081 1341.948022887837,485.3145992051165 1374,486 C 1406.051977112163,486.6854007948835 1423.0259885560815,505.8427003974417 1440,525 C 1440,525 1440,700 1440,700 Z");
    }
    50%{
        d: path("M 0,700 C 0,700 0,525 0,525 C 23.364787850505387,553.8238698158376 46.72957570101077,582.6477396316752 73,584 C 99.27042429898923,585.3522603683248 128.44648504646224,559.2329112891365 156,527 C 183.55351495353776,494.7670887108635 209.48448411314018,456.4206152117788 237,467 C 264.5155158868598,477.5793847882212 293.6155785009768,537.0846278637484 324,563 C 354.3844214990232,588.9153721362516 386.0532018829527,581.2408733332272 410,561 C 433.9467981170473,540.7591266667728 450.17161396721247,507.95187880334225 476,503 C 501.82838603278753,498.04812119665775 537.2603422481975,520.951611453404 563,513 C 588.7396577518025,505.0483885465961 604.7870170399977,466.2416753830419 627,468 C 649.2129829600023,469.7583246169581 677.5915895918115,512.0816870144284 705,516 C 732.4084104081885,519.9183129855716 758.846624592756,485.43157655924443 787,485 C 815.153375407244,484.56842344075557 845.0219120371645,518.1920067485938 873,518 C 900.9780879628355,517.8079932514062 927.0657272585861,483.8003964463803 952,483 C 976.9342727414139,482.1996035536197 1000.7151789284915,514.6064074658848 1032,521 C 1063.2848210715085,527.3935925341152 1102.0735570274483,507.7739736900806 1129,508 C 1155.9264429725517,508.2260263099194 1170.990592961715,528.297697773793 1196,528 C 1221.009407038285,527.702302226207 1255.964071125692,507.035235214748 1286,514 C 1316.035928874308,520.964764785252 1341.1531225355163,555.5613613672148 1366,562 C 1390.8468774644837,568.4386386327852 1415.4234387322417,546.7193193163926 1440,525 C 1440,525 1440,700 1440,700 Z");
    }
    75%{
        d: path("M 0,700 C 0,700 0,525 0,525 C 22.95651785679761,508.39820205341164 45.91303571359522,491.7964041068232 70,499 C 94.08696428640478,506.2035958931768 119.30437500241675,537.2125856261185 151,556 C 182.69562499758325,574.7874143738815 220.8694642767378,581.3532533887026 253,569 C 285.1305357232622,556.6467466112974 311.21776789063216,525.3744008190711 331,497 C 350.78223210936784,468.62559918092893 364.25946416073367,443.149143335013 385,468 C 405.74053583926633,492.850856664987 433.7443754664331,568.0290258408771 465,582 C 496.2556245335669,595.9709741591229 530.7630339735337,548.7347533014783 559,522 C 587.2369660264663,495.2652466985217 609.203488639432,489.03196095320976 637,494 C 664.796511360568,498.96803904679024 698.4230114687384,515.1374028856826 722,526 C 745.5769885312616,536.8625971143174 759.1044654856142,542.4184275040599 786,553 C 812.8955345143858,563.5815724959401 853.1591265888045,579.1888870980778 888,565 C 922.8408734111955,550.8111129019222 952.2590281591679,506.82602410362887 972,496 C 991.7409718408321,485.17397589637113 1001.8047607745236,507.50701648740664 1025,506 C 1048.1952392254764,504.49298351259336 1084.521928742738,479.14590994674467 1119,481 C 1153.478071257262,482.85409005325533 1186.1075242545237,511.9093437256148 1207,529 C 1227.8924757454763,546.0906562743852 1237.0479742391667,551.2167151507961 1265,558 C 1292.9520257608333,564.7832848492039 1339.7005787888095,573.2237956712011 1372,568 C 1404.2994212111905,562.7762043287989 1422.1497106055954,543.8881021643995 1440,525 C 1440,525 1440,700 1440,700 Z");
    }
    100%{
        d: path("M 0,700 C 0,700 0,525 0,525 C 26.038142320677707,537.3956350874464 52.076284641355414,549.7912701748927 80,560 C 107.92371535864459,570.2087298251073 137.73300375525605,578.2305543878757 162,569 C 186.26699624474395,559.7694456121243 204.9917003376204,533.2865122736042 230,516 C 255.0082996623796,498.7134877263958 286.30019489426235,490.6233965177073 319,480 C 351.69980510573765,469.3766034822927 385.80752008533017,456.2199016555667 413,461 C 440.19247991466983,465.7800983444333 460.46972476441715,488.4969968600258 486,516 C 511.53027523558285,543.5030031399742 542.3135808570014,575.7921109043302 569,585 C 595.6864191429986,594.2078890956698 618.2759518075773,580.3345595226533 642,579 C 665.7240481924227,577.6654404773467 690.5826119126896,588.8696510050561 719,590 C 747.4173880873104,591.1303489949439 779.3936005416643,582.1868364571222 805,579 C 830.6063994583357,575.8131635428778 849.842985920653,578.3830031664553 872,575 C 894.157014079347,571.6169968335447 919.2344557757236,562.2811508770566 950,564 C 980.7655442242764,565.7188491229434 1017.2191909764529,578.4923933253187 1045,554 C 1072.7808090235471,529.5076066746813 1091.8887803184641,467.7492758216686 1115,476 C 1138.1112196815359,484.2507241783314 1165.2256877496902,562.5105033880062 1197,575 C 1228.7743122503098,587.4894966119938 1265.2084686827757,534.2087106263059 1291,517 C 1316.7915313172243,499.79128937369404 1331.9404375192069,518.6546541067696 1355,526 C 1378.0595624807931,533.3453458932304 1409.0297812403965,529.1726729466152 1440,525 C 1440,525 1440,700 1440,700 Z");
    }
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
        font-size: 50px;
	}
}
.btn-wsp{
    position:fixed;
    width: 90px;
    height: 75px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:60px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    text-decoration: #20ba5a;
}
.btn-inst{
    position:fixed;
    width: 90px;
    height: 75px;
    line-height: 63px;
    bottom:110px;
    right:25px;
    background:linear-gradient(90deg, rgba(246,201,31,1) 0%, rgba(234,33,7,1) 47%, rgba(185,0,151,1) 100%);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:60px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-face{
    position:fixed;
    width: 90px;
    height: 75px;
    line-height: 63px;
    bottom:200px;
    right:25px;
    background: #1A7EE8;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:60px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-inst:hover{
    text-decoration: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-inst{
        width:63px;
        height:63px;
        line-height: 66px;
        font-size: 50px;
	}
}
